/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 31%, rgba(121,9,64,0.8575805322128851) 75%, rgba(0,212,255,1) 100%);
  color: #fff;
}

div{
  text-align: center;
}

ul {
  font-size: 21px;
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 50px;
}

img {
  height: 200px;
}

.container {
  align-items: center;
}

.image {
  display: inline-block;
}

.image > img {
margin: 30px;
}

.project {
  font-size: 21px;
  margin: 5px; 
  display: flex; 
}

.tab {
  padding-left: 35px; 
}